/* The top navigation bar. */

nav {
    padding: 24px;
}

nav a {
    transition: 0.3s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}
nav a:hover {
    color: greenyellow;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 6px 0; 
}
