<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>ThesisDemo:Summarization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="images/ikm.png">
    <link rel="shortcut icon" href="images/ikm.png">

    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    
    <link rel="stylesheet" type="text/css" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/textArea.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/modal.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ navigation.css">


    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

</head>

<body>
    <!-- Left Panel -->
   <!-- <aside id="left-panel" class="left-panel"> -->
        <!-- <nav class="navbar navbar-expand-sm navbar-default"> -->
            <!-- <div id="main-menu" class="main-menu collapse navbar-collapse"> -->
                <!-- <ul class="nav navbar-nav"> -->
                    <!-- <li class="active">
                        <div class="row bg-dark justify-content-end" style="border-radius:10px">
                            <div class="row justify-content-center"> 
                                <a class="navbar-brand" href="./">
                                    <img style="padding:1px" src="images/ikmlab.png" alt="Logo">
                                </a>
                            </div>   
                            <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
                                <div style="color:white; font-family: Times New Roman;font-style:italic">
                                    <b>Intelligent<br>
                                        Knowledge<br>
                                        Management<br>
                                        Laboratory</b></div>
                            </div>
                        </div>
                        <div class="progress progress-xs mt-1 mb-0 bg-flat-color-7" style="width: 100%; height: 2px;"></div>
                    </li> -->
                    <!-- <li class="menu-title">UI elements</li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Components</a>
                        <ul class="sub-menu children dropdown-menu">                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>
                            <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>

                            <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>
                            <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>
                            <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>
                            <li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>
                            <li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>
                            <li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>
                            <li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
                            <li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                        </ul>
                    </li> -->

                    <!-- <li class="menu-title">Icons</li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Font Awesome</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                            <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                        </ul>
                    </li> -->
                    <!-- <li class="menu-title">Extras</li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                        </ul>
                    </li> -->
                <!-- </ul> -->
            <!-- </div> -->
        <!-- </nav> -->
    <!-- </aside> -->
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header bg-dark">
            <nav class="navbar-header navbar-dark bg-dark">   
                <a class="nav-item nav-link active" href="#INTRODUCTION">INTRODUCTION <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#ARCHITECTURE">ARCHITECTURE</a>
                <a class="nav-item nav-link" href="#PERFORMANCE">PERFORMANCE</a>
                <a class="nav-item nav-link" href="#RESULTS">RESULTS</a>
                <a class="nav-item nav-link" href="#DEMO">DEMO</a>
            </nav>        
        </header>
    </div>
        <!-- /#header -->
        <!-- Content -->
        <div class="content bg-light" >    
            <!-- Model  -->
                    <div class="card" id="INTRODUCTION">
                        <div class="card-header">
                            <h3><b>INTRODUCTION</b></h3>
                        </div>
                        <div class="card-body">
                            <div class="custom-tab">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">abstract</a>
                                        <a class="nav-item nav-link active show" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">Background</a>
                                        <a class="nav-item nav-link" id="custom-nav-con-tab" data-toggle="tab" href="#custom-nav-con" role="tab" aria-controls="custom-nav-con" aria-selected="false">Issues</a>
                                        <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">Motivation</a>
                                    </div>
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent" style="font-family: Times New Roman">
                                    <div class="tab-pane fade" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                        <div class="d-flex justify-content-center">
                                            <a href="#"><img src="images/abs.png" alt=""></a>
                                        </div>
                                        <br><br><br>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Automatic summarization task has been a significant challenge in the Nature
                                                Process Language (NLP) filed. Since the deep neural networks were widely applied in
                                                various domains and achieved great success, the summarization has drawn much
                                                attention from recent research.<br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;The approach of dealing with automatic summarization can be roughly divided
                                                into two main paradigms: extractive and abstractive manner. The former allows
                                                capturing the most representative snippets in a document while the latter generates a
                                                summary by understanding the latent meaning in a material with a language generation
                                                model. However, in recent years, combining both paradigms to complement each other
                                                has been promoted.<br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;Accordingly, we adopt a reinforcement-based policy learning to bridge the nondifferentiable computation between these two neural networks in a hybrid way. We
                                                design two pseudo-agents to deal with the dilemma about saliency and redundancy.
                                                One agent receives snippets within a document and extracts the saliency; the other agent
                                                manages to judge whether snippets contain the redundancy. At first, we prepared two
                                                pre-trained models, including extractive and abstractive model. Our pseudo-agents
                                                conduct a specific policy over each model and attempt to maximize the total reward.
                                                Through cascading agents, not only is the model optimized globally by sharing
                                                parameters of observations; these agents are separately learning themselves. 
                                            
                                    </div>
                                    <div class="tab-pane fade active show" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-center">
                                                <a href="#"><img class="center" src="images/abstract.png" alt=""></a>
                                            </div>
                                        </div>
                                        <br><br><br>
                                        <p>&nbsp;&nbsp;There is a variety of present ways with respect to the automatic summarization.
                                                <br>&nbsp;&nbsp;Actually, the summarization also provides big gains in real world. For the
                                                journalist, it is vital to design a passage of the title on the news. Based on the title,
                                                we can obtain the most relevant information of content. In terms of the politician,
                                                to simplify and shorten the massive data where includes detailed questionnaires
                                                and online reviews supports to draw up the corresponding strategy. When it comes
                                                to the marketing, from the collections of reviews about the product, we can capture
                                                the customer psychology. Through summarizing reviews, an entrepreneur can
                                                develop a new market strategy. For the learner in cross-domain, it is difficult to
                                                entirely understand what jargon means, but through summarization system, the
                                                key digests will be extracted and help us to study efficiently. Therefore, automatic
                                                summarization can be applied in lots of aspects. With a general machine learning
                                                approach, we indeed alleviate much requirement of human-annotated data and
                                                human-engineering reading, so it results in more efficient and more flexible.</p>
                                    </div> 
                                    <div class="tab-pane fade" id="custom-nav-con" role="tabpanel" aria-labelledby="custom-nav-con-tab">
                                            <p><b>1. Human-Subjectivity</b><br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;Text summarization is to produce a summary of the main ideas of the text
                                                    dependent on an individual. The fact is that opinions vary from person to person. </p>
                                                    <div class="d-flex justify-content-center">
                                                        <a href="#"><img class="center" src="images/human.png" alt=""></a>
                                                    </div>
                                                    <br><br><br>
                                            <p><b>2. Local Relevance</b><br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;For the corpus that constitutes of article-summary pairs, such CNN/DM, BBC
                                                    and NYT. Most of words in summary are mentioned on the corresponding article.</p>
                                                    <div class="d-flex justify-content-center">
                                                        <a href="#"><img class="center" src="images/local.png" alt=""></a>
                                                    </div>
                                                    <br><br><br>
                                            <p><b>3. Global Independence</b><br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;If we want to collect side document to improve the quality of generated
                                                    summary, these words occurring across the document provide a relevant signal for
                                                    content understanding. These side document commonly having a similar topic extend
                                                    relevant information that can assist in grasping the content meaning sooner and more
                                                    comprehensive.</p>
                                        </div>
                                    <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                                        <p> &nbsp;&nbsp;&nbsp;&nbsp;We attempt to make extractor and abstractor
                                                complement each other. The former extractor allows capturing the most representative
                                                snippets in document and the latter abstractor generates summary by filtering
                                                redundancy inside snippets. However, most of traditional approaches that applied the
                                                hybrid structure were word-level sequential model which were attempt to find the
                                                similar words in gold summary from vocabulary distribution. We find that the
                                                sequential models are not the good solution in summarization task. Due to the nature of
                                                discrete in word, with the sequential model being difficult to fit a distinct sentence
                                                distribution, sentence composed of several words leads to cast to a diverse space.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#"><img class="center" src="images/diverse.png" alt=""></a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="card genre" style="cursor: pointer; zoom: 1;">
                                    <div class="card-body bg-dark">
                                        <div class="stat-widget-five">
                                            <div class="stat-icon dib flat-color-1">
                                                <i class="pe-7s-comment"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-text text-white">Nature<br>Language<br>Process</div>
                                                  
                                                    <div class="progress progress-xs mt-1 mb-3 bg-flat-color-1" style="width: 40%; height: 2px;"></div>
                                                    <div class="stat-heading">Summarization, WordEmbedding, sentence representation</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-6">
                                <div class="card genre" style="cursor: pointer; zoom: 1;">
                                    <div class="card-body bg-dark">
                                        <div class="stat-widget-five">
                                            <div class="stat-icon dib flat-color-2">
                                                <i class="pe-7s-graph1"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-text text-white">Deep<br>Neural<br>Network</div>
                                                    <div class="progress progress-xs mt-1 mb-3 bg-flat-color-2" style="width: 40%; height: 2px;"></div>
                                                    <div class="stat-heading">CNN, LSTM, selfAttn, attention</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4 col-md-6">
                                <div class="card genre" style="cursor: pointer; zoom: 1;">
                                    <div class="card-body bg-dark">
                                        <div class="stat-widget-five">
                                            <div class="stat-icon dib flat-color-3">
                                                <i class="pe-7s-repeat"></i>
                                            </div>
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-text text-white">Reinforcement<br>Learning</div>

                                                    <div class="progress progress-xs mt-1 mb-3 bg-flat-color-3" style="width: 40%; height: 2px;"></div>
                                                    <div class="stat-heading">A2C, POMDP, MC, TD</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
            <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="ARCHITECTURE">
                            <div class="card-body ">
                                    <h3 class="box-title">Hybrid Net based Summarization with Cascading Agents</h3>
                                    <p>串聯代理人強化混合式網路自動摘要</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card-body"> 
                                        <a href="#"><img class="model" src="images/model.png" alt=""></a>
                                        </div>                                    
                                </div>

                                <div class="col-lg-3">                                    
                                        <h3>INPUT&OUTPUT</h3>
                                        <div class="progress progress-xs mt-1 mb-3 bg-flat-color-7" style="width: 100%; height: 2px;"></div>
                                            <div class="card bg-light mb-2">
                                                <div class="dataset card-body">
                                                <div class="stat-widget-five">
                                                    <div class="stat-icon dib flat-color-3">
                                                        <i class="pe-7s-file"></i>
                                                    </div>
                                                    <div class="stat-content">
                                                        <div class="text-left dib">
                                                            <div class="stat-text"><span>Document</span></div>
                                                            <div class="stat-heading">i.e., Cnn/Dailymail</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card bg-light mb-2">
                                                <div class="card-body">
                                                        <div class="stat-widget-five">
                                                            <div class="stat-icon dib flat-color-4">
                                                                <i class="pe-7s-back"></i>
                                                            </div>
                                                            <div class="stat-content">
                                                                <div class="text-left dib">
                                                                    <div class="stat-text"><span>Summary</span></div>
                                                                    <div class="stat-heading">produced abstract</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-body">
                                        <div class="progress-box progress-1">
                                            <h4 class="por-title"><span class="ti-check-box"></span>Setence Encoder</h4>
                                            <div class="por-txt">ConvolutionNetwork</div>
                                            <div class="progress progress-xs mt-1 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>

                                        </div>
                                        <div class="progress-box progress-2">
                                            <h4 class="por-title"><span class="ti-check-box"></span>Document Encoder</h4>
                                            <div class="por-txt">LSTM/selfAttention</div>
                                            <div class="progress progress-xs mt-1 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>

                                        </div>
                                        <div class="progress-box progress-2">
                                            <h4 class="por-title"><span class="ti-check-box"></span>Extractor Agent</h4>
                                            <div class="por-txt">PtrNet</div>
                                            <div class="progress progress-xs mt-1 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>

                                        </div>
                                        <div class="progress-box progress-2">
                                            <h4 class="por-title"><span class="ti-check-box"></span>Abstractor Agent</h4>
                                            <div class="por-txt">PtrNet</div>
                                            <div class="progress progress-xs mt-1 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>

                                        </div>
                                    </div> <!-- /.card-body -->
                                </div>
                              
                            </div> <!-- /.row -->
                            <div class="card-body"></div>
                        </div>
                    </div><!-- /# column -->
                </div>
                <!--  /Model -->

                <!-- video  -->
                <div class="row bg-dark justify-content-md-center">
                        <div class="col-lg-6">
                            <br>
                            <div class="card">
                                <div class="card-body">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <iframe class="embed-responsive-item" src="summ/video.mp4" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
                                        </div>                                        
                                </div><!-- /.card-body -->
                            </div>
                        </div><!-- /# column -->
                </div> <!--  /vidio -->



                <!-- Ablation  -->
                <div class="row d-flex align-items-center">
                        <div class="col-lg-6">
                            <div class="card" id="PERFORMANCE">
                                <div class="card-body">
                                        <h3 class="box-title">ABLATION STUDY</h3>
                                        <p>It has been adopted to describe a procedure where certain parts of the network are removed, in order to gain a better understanding of the network’s behaviour.</p>
                                </div>
                                <div class="card-body">
                                    <div class="row  justify-content-center">
                                        <a href="#"><img class="model" src="images/ablation.png" style="margin:auto;"></a>
                                    </div><!-- /.row -->                                                 
                                </div><!-- /.card-body -->
                            </div>
                        </div><!-- /# column -->

                        <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                            <h3 class="box-title">COMPARISON</h3>
                                            <p>To compare with other literatures.</p>

                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <a href="#"><img class="model" src="images/comp.png" style="margin:auto;"></a>
                                        </div><!-- /.row -->                                                 
                                    </div><!-- /.card-body -->
                                </div>
                        </div><!-- /# column -->
                </div> <!--  /Ablation -->



                  <!--  parameters  -->
                  <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">TUNABLE PARAMETERS </h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row justify-content-center">

                                            <div class="card-body">
                                                <canvas id="doughutChart"></canvas><br>
                                                <h4 aligns="center"><span class="ti-arrow-right"></span>  tunable parameters distribution</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 ">
                                        <div class="card-body">
                                            <div class="progress-box progress-1">
                                                <h4 class="por-title">SENTENCE ENCODER</h4>
                                                <div class="por-txt">3,994,412</div>
                                                <div class="progress mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="progress-box progress-2">
                                                <h4 class="por-title">DOCUMNET ENCODER</h4>
                                                <div class="por-txt">1,143,808</div>
                                                <div class="progress mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 11%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="progress-box progress-2">
                                                <h4 class="por-title">EXTRACTOR</h4>
                                                <div class="por-txt">2,368,257</div>
                                                <div class="progress mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: 23%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="progress-box progress-2">
                                                <h4 class="por-title">ABSTRACTOR</h4>
                                                <div class="por-txt">2,369,282</div>
                                                <div class="progress mb-2" style="height: 5px;">
                                                    <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: 26%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div> <!-- /.card-body -->
                                    </div>
                                </div> <!-- /.row -->
                                <div class="card-body"></div>
                            </div>
                        </div><!-- /# column -->
                    </div>
                    <!--  /parameters -->
                    <div class="clearfix"></div>


                <!-- Result  -->
                <div class="row">
                        <div class="col-lg-12">
                            <div class="card" id="RESULTS">
                                <div class="card-body">
                                        <h3 class="box-title">RESULT-1</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row  justify-content-center">
                                        <a href="#"><img class="model" src="images/ex1.png" style="margin:auto;"></a>
                                    </div><!-- /.row -->                                                 
                                </div><!-- /.card-body -->
                            </div>
                        </div><!-- /# column -->
                </div> 
                <!--  /Result -->
                <!-- Result  -->
                <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                        <h3 class="box-title">RESULT-2</h3>
                                </div>
                                <div class="card-body">
                                        <div class="row  justify-content-center">
                                            <a href="#"><img class="model" src="images/ex2.png" style="margin:auto;"></a>
                                        </div><!-- /.row -->                                                 
                                    </div><!-- /.card-body -->
                            </div>
                        </div><!-- /# column -->
                </div> <!--  /Result -->

            <!-- Animated -->
            <div class="animated fadeIn">

                <!-- To Do and Live Chat -->
                <div class="row">
                        <div class="card" style="width: 100%;"> 
                            <div class="card-body demo" id="DEMO">
                                <h4 class="card-title box-title">Demo</h4>
                                <div class="card-content">
                                    <div class="messenger-box">
                                        <ul>
                                            <li>
                                                <div class="msg-received msg-container">
                                                    <div class="avatar">
                                                    </div>
                                                    <div class="msg-box">
                                                        <div class="inner-box" style="width: 100%;">
                                                            <div class="name">
                                                                Document
                                                            </div>
                                                            <div class="send-mgs">
                                                                    <div class="yourmsg">
                                                                            <div class="meg">
                                                                                    <div class="md-form mb-4 pink-textarea active-pink-textarea">
                                                                                        <textarea name="source" id="doc_input" class="md-textarea form-control" rows="6"></textarea>
                                                                                        <label id="source_label" for="doc_input">Input your document</label>
                                                                                        <button name="turnBtn" id="translate" class="btn msg-send-btn">
                                                                                            <i class="pe-7s-paper-plane"></i>
                                                                                        </button>
                                                                            

                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.msg-received -->
                                            </li>
                                            <li>
                                                <div class="msg-received msg-container">
                                                    <div class="avatar">
                                                    </div>
                                                    <div class="msg-box">
                                                        <div class="inner-box" style="width: 100%;">
                                                            <div class="name">
                                                                Summary
                                                            </div>
                                                            <div class="meg">     
                                                                <div class="md-form amber-textarea active-amber-textarea">
                                                                        <div class="loader" id='loader-1' style="display:none"></div>
                                                                    <div disabled id="summary_output"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.msg-sent -->
                                            </li>
                                        </ul>
                                    </div><!-- /.messenger-box -->
                                </div>
                            </div> <!-- /.card-body -->
                        </div><!-- /.card -->
                </div>
                <!-- /To Do and Live Chat -->   
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width:100%;">
                    <div class="card-body">
                    <table id='history' class="table table-striped" >  
                        <thead>  
                            <tr>
                                <th>Date</th>
                                <th>Document</th>
                                <th>Abstract</th>
                            </tr>
                        </thead>  
                        <tbody>  
                            {% for doc in history %}
                            <tr>
                                <td>{{doc.date}}</td>
                                <td>{{doc.article.text}}</td>
                                <td>{{doc.abstract.text}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                </div>        
            </div>
        </div>



        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2019 - Created by Zhi-Yao Liang
                        <br>
                        NCKU Intelligent Knowledge Management Laboratory Inc.
                    </div>
                    <div class="col-sm-6 text-right">
                        <br>
                        Designed by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="assets/js/rest.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>


    <!--Chartist Chart-->    
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="assets/js/init/fullcalendar-init.js"></script>

</body>
</html>
